@media screen and (min-width: 1200px) {

/*
======= GENERAL =========================================================
*/


* {
    font-family: "Biryani", sans-serif;
    font-weight: bolder;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;

    background: #FFFFFF;
}

a {
    text-decoration: none;
}

ul li {
    list-style: none;
    text-decoration: none;
}

.menuBckgd {
    display: none;
}


/*
======= LIGHTBOX ========================================================
*/

.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    width: 100%;
    height: 100%;

    background-color: rgba(10,10,10,0.8);
}

.close {
    position: absolute;

    width: 100%;
    margin-top: 60px;
    box-sizing: border-box;

    color: #FFFFFF;
    text-align: center;
    font-size: 0.8em;
    cursor: pointer;
}

.displayer {
    position: relative;
    width: 1050px;
    height: 700px;
    margin: 90px auto;
    overflow: hidden;

    border: 20px solid #FFFFFF;
}

.displayer img {
    height: 100%;
}


/* Classes pour changer l'état de la lightbox en fonction de la photo : */

.getPhoto1 {
    background: url(images/pic1.jpg);
}

.getPhoto2 {
    background: url(images/pic7.jpg);
}

.getPhoto3 {
    background: url(images/pic3.jpg);
}


/*
======= HEADER ==========================================================
*/

header {
    width: 100%;
    height: 140px;
}

.contactBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 15px 50px;
    box-sizing: border-box;

    background: #6CB33E;
    font-size: 0.9em;
    font-weight: 500;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}

.phone img, .email img {
    width: 15px;
    margin: 0 10px;
    color: #FFFFFF;
}

.headThumb {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding : 10px 40px;
    box-sizing: border-box;
}

.logo img {
    height: 70px;
}

.burger {
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: inline;

    margin: auto 0;

    font-size: 0.8em;
    letter-spacing: 0.1em;
}

.navbar ul li {
    display: inline;

    margin: 0 10px;
}

.navbar ul li a {
        color: #6CB33E;
}

.burger img { 
    display: none;
    /* Ne s'applique pas pour desktop */
}


/*
======= CONTENT =========================================================
*/

.content {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
}

/*
===== Slider =====
*/

.sliderAndSquare {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 750px;

    padding: 0;
    margin: 0;
}

.slider {
    position: relative;

    width: 100%;
    height: 580px;
    margin: 0 auto;

    background: #6CB33E;
}

.slideFrame {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: left;

    max-width: 5760px;
    height: 100%;
    margin: 0 auto;
    /* Délimite la surface occupée par les images,
       en cas de très grand écran */
    overflow: hidden;
}

.photo1 {
    left: 0;
    z-index: 3;
    
    width: 1920px;

    background: url(images/pic1.jpg);
}

.photo2 {
    left: 0;
    z-index: 2;

    width: 0px;

    background: url(images/pic7.jpg);
}

.photo3 {
    right: 0;
    z-index: 1;

    width: 0px;

    background: url(images/pic8.jpg);
}

.photo {
    position: absolute;
    top: 0;

    height: 100%;

    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: center;
}

.slideBtn {
    position: absolute;
    top: 250px;
    z-index: 98;

    width: 40px;
    height: 40px;
    padding: auto;
    box-sizing: border-box;

    background-color: #6CB33E;
    font-family: "Arial Black", Arial, sans-serif;
    font-size: 1.4em;
    font-weight: 900;
    text-align: center;
    color: #FFFFFF;
    -webkit-box-shadow: 5px 5px 5px 0px #666; 
    box-shadow: 5px 5px 5px 0px #666;
    cursor: pointer;
}

#slideBtnRight {
    right: 40px;
}

#slideBtnLeft {
    right: 85px;
}


/*
===== Square Menu =====
*/

.squareMenu {
    display: flex;
    position: absolute;
    align-self: center;
    z-index: 99;

    top: 520px;
    width: 920px;
    height: 230px;
    margin: 0 auto;
}

.square {
    width: 230px;
    height: 230px;

    padding: 20px 15px;
    box-sizing: border-box;
    margin: 0;
    overflow-x: hidden;

    text-align: center;
}


.squareTitle {
    margin-bottom: 20px;

    font-size: 0.85em;
    color: #FFFFFF;
}

.squareDescr {
    font-size: 0.7em;
    color: #FFFFFF;
}

#ecoSystem {
    background-color: #6CB33E;
}

#saveAnimals {
    background-color: #78C04C;
}

#solarEnergy {
    background-color: #81C855;
}

#saveForests {
    background-color: #8DD463;
}

.square:hover {
    background-color: #B5DC9A;
}


/*
===== Items =====
*/
  
.itemBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;

    width: 100%;
    height: 380px;
    margin-top: 40px;

    opacity: 0%;
        /* ... Le script fading.js fait apparaître la div au scrolling */
}

.item {
    width: 25%;
    height: 100%;
    margin: 0 15px;
}

.itemThumb {
    width: 100%;
    height: 220px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#thumb1 {
    background: url(images/pic3.jpg);
    background-size: cover;
}

#thumb2 {
    background: url(images/pic2.jpg);
    background-size: cover;
}

#thumb3 {
    background: url(images/pic4.jpg);
    background-size: cover;
}

.itemTitle {
    width: 100%;
    height: 45px;
    padding-top: 12px;
    box-sizing: border-box;

    background: #6CB33E;
    font-size: 0.8em;
    text-align: center;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.itemDescr {
    text-align: center;
    padding: 20px;

    font-size: 0.8em;
    font-weight: 700;
    color: #666;
}


/*
======= FOOTER ===========================================================
*/

footer {
    width: 100%;
    height: 60px;
    padding-top: 1px;
    box-sizing: border-box;

    background: #291605;
    text-align: center;
}

footer ul li {
    display: inline;
    margin: 0 10px;

    font-size: 0.8em;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

footer ul li a {
    text-decoration: none;
    color: #FFFFFF;
}

}
